/nbproject/private/
/Backend/ABetterLiving/target/
/Backend/ABetterLiving/.metadata*
/Backend/ABetterLiving/.settings*


Frontend/ABetterLiving/package-lock.json
Backend/ABetterLiving/JPAH2TemplateDB.mv.db
