<ion-fab right bottom>
    <button ion-fab color="secondary" (click)="openTaskEditor()">
        <ion-icon name="add"></ion-icon>
    </button>
</ion-fab>
<ion-list>
    <ion-item-sliding *ngFor="let task of tasks">
        <ion-item>
            <ion-icon *ngIf="listType == 'Unerledigt'" name="close-circle" item-start></ion-icon>
            <ion-icon *ngIf="listType == 'Alle'" name="clipboard" item-start></ion-icon>
            <ion-icon *ngIf="listType == 'Erledigt'" name="checkbox-outline" item-start></ion-icon>
            <ion-icon *ngIf="listType == 'Heute'" name="flame" item-start></ion-icon>
            <ion-icon *ngIf="listType == 'Kalender'" name="calendar" item-start></ion-icon>
            <h2>{{task.title}}</h2>
            <p>{{task.note}}</p>
        </ion-item>
        <ion-item-options side="right">
            <button *ngIf="task.status === false" ion-button color="secondary" (click)="setTaskToDone(task)">
                <ion-icon name="checkmark-circle"></ion-icon>
                Done
            </button>
            <button *ngIf="task.status === true" ion-button color="danger" (click)="setTaskToDone(task)">
                <ion-icon name="close-circle"></ion-icon>
                Undone
            </button>
            <button ion-button color="primary" (click)="openTaskDetail(task)">
                <ion-icon name="eye"></ion-icon>
                Edit
            </button>
            <button ion-button color="danger" (click)="deleteTask(task)">
                <ion-icon name="trash"></ion-icon>
                Del
            </button>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>